**/9999_old
**/8888_questionnaire
**/7777_documents
**/6666_private
**/5555_preliminary_analysis
*.csv
*.xls
*.xlsx
*.yaml
.Rproj.user
*.aux
*.glo *.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.RData
*.svg
*.DS_Store
.DS_Store
