DisciplinesPerFundingInstrument.csv filter=lfs diff=lfs merge=lfs -text
g6_weigthed_df.csv filter=lfs diff=lfs merge=lfs -text
outcome_df.csv filter=lfs diff=lfs merge=lfs -text
SIVOCS_int-cand.csv filter=lfs diff=lfs merge=lfs -text
SIVOCS_interview_candidates__batch_2.csv filter=lfs diff=lfs merge=lfs -text
cor_mat.csv filter=lfs diff=lfs merge=lfs -text
deneme_batch2.csv filter=lfs diff=lfs merge=lfs -text
FacLoads.csv filter=lfs diff=lfs merge=lfs -text
G_factor_analysis2.csv filter=lfs diff=lfs merge=lfs -text
data.csv filter=lfs diff=lfs merge=lfs -text
deneme.csv filter=lfs diff=lfs merge=lfs -text
disc_df.csv filter=lfs diff=lfs merge=lfs -text
G_factor_analysis.csv filter=lfs diff=lfs merge=lfs -text
batch2.1.csv filter=lfs diff=lfs merge=lfs -text
batch2.csv filter=lfs diff=lfs merge=lfs -text
batch2_edited.csv filter=lfs diff=lfs merge=lfs -text
cand2.csv filter=lfs diff=lfs merge=lfs -text
low_fam.csv filter=lfs diff=lfs merge=lfs -text
low_mot_df.csv filter=lfs diff=lfs merge=lfs -text
static.csv filter=lfs diff=lfs merge=lfs -text
high_mot_df.csv filter=lfs diff=lfs merge=lfs -text
SIVOCS_int-cand_pre.csv filter=lfs diff=lfs merge=lfs -text
api.csv filter=lfs diff=lfs merge=lfs -text
deneme_batch2_edited.csv filter=lfs diff=lfs merge=lfs -text
g6_deneme.csv filter=lfs diff=lfs merge=lfs -text
high_contrib.csv filter=lfs diff=lfs merge=lfs -text
